{%extends 'base.html'%}
{% block title%}
        <title> Edit Task </title>
{% endblock title%}

{%block content %}  
        <div class="container">
		<br>

		{% if blog_object.manager == request.user %}

			<form method = 'POST' class = "row"  action="">
                		{% csrf_token %}
				<label class = "col-lg-2"></label>
                		<input type="text" class="form-control col-lg-6" name = 'notes'  placeholder = "{{blog_object.notes}}" value = "{{blog_object.notes}}" >
				<input type="hidden" name = 'done' value = "{{blog_object.done}}">
                		<button type="submit" class="btn btn-primary col-lg-2">Update Blog</button>
        		</form>

		{% else %}
			<p> You are not allowed to access this! Log in and try again.</p>

		{% endif %}
        </div>
{%endblock content%}

