{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='icon' href = {% static 'img/leon-seibert-hDpRlaFtxs0-unsplash.jpg' %} type='image/gif' sizes = '18x18'>

    {% block title%}
    {% endblock title%}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="{%url 'index' %}"><img src="{% static 'img/Free_Sample_By_Wix.jpeg' %}"width="30" height="30" alt='Image'></a>
  	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	        <span class="navbar-toggler-icon"></span>
  	    </button>
  	    <div class="collapse navbar-collapse" id="navbarNav">
    	        <ul class="navbar-nav">
      			<li class="nav-item active"><a class="nav-link" href="{%url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
      			<li class="nav-item"><a class="nav-link" href="{%url 'blogpost' %}">Blogs</a></li>
      			<li class="nav-item"><a class="nav-link" href="{%url 'contact' %}">contacts</a></li>
      			<li class="nav-item"></li>
    		</ul>
  	    </div>
	    {% if user.is_authenticated %}
	    	<div class = 'form-inline my-2 my-lg-0'>
			<div class = 'p-2'>Logged in as:  {{user.username}}</div>
			<a href="{%url 'logout' %}">
		    		<button class="btn btn-success my-2 my-sm-0" type="button">logout</button>
			</a>
		</div>
	    {% else %}
                <a href="{%url 'login' %}">
                	<button class="btn btn-success mr-2 my-2 my-sm-0" type="button">login</button>
                </a>
            	<a href="{%url 'register' %}">
			<button class="btn btn-primary my-2 my-sm-0" type="button">Register</button>
                </a>
	    {% endif %}
    </nav>
  </head>
  <body class="p-3 mb-2 bg-secondary text-white">
        {% block content%}
        {%endblock content%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
